<!---- Banner Start ---->
<section id="banner" class="s-polling p-election">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 bg-blue text-center col-xs-12 col-sm-12">
				<h6>WE offers SERVICES FOR</h6>
				<h1>POLITICAL<br/>ELECTION</h1>
				<a class="get" href="#">WORK WITH US</a>
			</div>
		</div>	
	</div>       
</section>
<!---- Banner End ---->
<!---- Welcome-text Start ---->
<section id="welcome-text" class="p-election">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<h6 class="bd">WHY HIRE A</h6>
				<h3>Telemarketing  <span class="green">Company?</span></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-xs-12 col-sm-12">
				<strong>Political Campaigns</strong>
				<p><strong>Why Hire a Telemarketing Company?</strong></p>
				<p>Planning a political campaign can be overwhelming, regardless of the level of experience or size of the election. How will you reach your audience in a cost-effective manner? Can the job be done strictly by volunteers? How quickly?</p>
				<p>These are all questions to consider when outlining your political campaign. The truth of the matter is that in order to spread the word and reach your audience, some money must be spent. Typically, successful campaigns use both paid callers from a telemarketing agency as well as volunteers. Utilizing passionate volunteers is always a good idea, however, we advise to proceed with caution, seeing that most campaigns actually do not see an influx of volunteers until about a month before an election.</p>
				<p>Rather than waiting on volunteers to surface, plan on securing the help of a telemarketing company in advance. Hiring on a telemarketing company for your campaign will effectively target specific groups and lists, ensuring greater success in reaching those valuable voters while also making sure to follow current laws specific to your state/jurisdiction. </p>
				<p><strong>Bottom Line</strong></p>	
				<p>Many people are unaware of how important a reliable and reputable call center is to a political campaign's success. Streamline your campaign communications and reach more contacts in less time by calling on F&R Telecommunications, a US based company you can trust. We can work with most company budgets, large or small, and will never use predictive dialers or call the same contact multiple times in one day. Don't take risk by cutting corners and using unskilled callers overseas who may fog the message you are trying to convey. <br/> <br/> <strong>Call on us to call for you today!</strong></p>
			</div>
		</div>
	</div>       
</section>
<!---- Welcome-text End ---->
<!---- Services offered Start ---->
<section id="services-offered">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-sm-12 col-xs-12">
				<h3>SERVICES  <span class="green">OFFERED</span></h3>
				<p>F&R Telecommunications offers party neutral political services for campaigns of any size, all over the US, such as:</p>
			</div>
		</div>
		<div class="row row-bottom">
			<div class="col-lg-6 s-right col-sm-12 col-md-6 col-xs-12">
				<div class="row">
					<div class="col-lg-4 s-right-in col-sm-4 col-xs-12">
						<div class="col-lg-12 small-text-center img arrow-right bg-white s-right-in col-sm-12 col-xs-12">
							<div class="tablerow">
								<div class="tablecell">
									<img src="assets/img/offer-1.png" alt="" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 small-text-center s-left-in col-sm-8 col-xs-12">
						<div class="col-lg-12 arrow-left bg-white col-sm-12 col-xs-12">
							<div class="row s-top">
								<div class="col-lg-3 text-center col-sm-4 col-xs-12">
									<div class="number">1</div>
								</div>
								<div class="col-lg-9 col-sm-8 col-xs-12">
									<p>VOTER ID</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 s-left col-sm-12 col-md-6 col-xs-12">
				<div class="row">
					<div class="col-lg-8 small-text-center s-right-in col-sm-8 col-xs-12">
						<div class="col-lg-12 arrow-right bg-white col-sm-12 col-xs-12">
							<div class="row s-top">
								<div class="col-lg-3 text-center col-sm-4 col-xs-12">
									<div class="number green">2</div>
								</div>
								<div class="col-lg-9 col-sm-8 col-xs-12">
									<p class="tp">Persuasion<br/>voter contact</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 small-text-center s-left-in col-sm-4 col-xs-12">
						<div class="col-lg-12 img text-center arrow-left bg-white s-right-in col-sm-12 col-xs-12">
							<div class="tablerow">
								<div class="tablecell">
									<img src="assets/img/offer-2.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-bottom">
			<div class="col-lg-6 s-right col-sm-12 col-md-6 col-xs-12">
				<div class="row">
					<div class="col-lg-4 s-right-in col-sm-4 col-xs-12">
						<div class="col-lg-12 small-text-center img arrow-right bg-white s-right-in col-sm-12 col-xs-12">
							<div class="tablerow">
								<div class="tablecell">
									<img src="assets/img/offer-3.png" alt="" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 small-text-center s-left-in col-sm-8 col-xs-12">
						<div class="col-lg-12 arrow-left bg-white col-sm-12 col-xs-12">
							<div class="row s-top">
								<div class="col-lg-3 text-center col-sm-4 col-xs-12">
									<div class="number green">3</div>
								</div>
								<div class="col-lg-9 col-sm-8 col-xs-12">
									<p class="tp">Multi-question<br/>polls and surveys</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 s-left col-sm-12 col-md-6 col-xs-12">
				<div class="row">
					<div class="col-lg-8 small-text-center s-right-in col-sm-8 col-xs-12">
						<div class="col-lg-12 arrow-right bg-white col-sm-12 col-xs-12">
							<div class="row s-top">
								<div class="col-lg-3 text-center col-sm-4 col-xs-12">
									<div class="number">4</div>
								</div>
								<div class="col-lg-9 col-sm-8 col-xs-12">
									<p>Fundraising calls </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 small-text-center s-left-in col-sm-4 col-xs-12">
						<div class="col-lg-12 img text-center arrow-left bg-white s-right-in col-sm-12 col-xs-12">
							<div class="tablerow">
								<div class="tablecell">
									<img src="assets/img/offer-4.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 s-right col-sm-12 col-md-6 col-xs-12">
				<div class="row">
					<div class="col-lg-4 s-right-in col-sm-4 col-xs-12">
						<div class="col-lg-12 small-text-center img arrow-right bg-white s-right-in col-sm-12 col-xs-12">
							<div class="tablerow">
								<div class="tablecell">
									<img src="assets/img/offer-5.png" alt="" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 small-text-center s-left-in col-sm-8 col-xs-12">
						<div class="col-lg-12 arrow-left bg-white col-sm-12 col-xs-12">
							<div class="row s-top">
								<div class="col-lg-3 text-center col-sm-4 col-xs-12">
									<div class="number">5</div>
								</div>
								<div class="col-lg-9 col-sm-8 col-xs-12">
									<p class="tp">“Get Out the Vote”<br/>calls</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 s-left col-sm-12 col-md-6 col-xs-12">
				<div class="row">
					<div class="col-lg-8 small-text-center s-right-in col-sm-8 col-xs-12">
						<div class="col-lg-12 arrow-right bg-white col-sm-12 col-xs-12">
							<div class="row s-top">
								<div class="col-lg-3 text-center col-sm-4 col-xs-12">
									<div class="number green">6</div>
								</div>
								<div class="col-lg-9 col-sm-8 col-xs-12">
									<p>“Red Tag” mailing</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 small-text-center s-left-in col-sm-4 col-xs-12">
						<div class="col-lg-12 img text-center arrow-left bg-white s-right-in col-sm-12 col-xs-12">
							<div class="tablerow">
								<div class="tablecell">
									<img src="assets/img/offer-6.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- Services offered End ---->
<!---- P-candidates Start ---->
<section id="p-candidates">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 flush text-center col-sm-12 col-xs-12">
				<img class="fullwidth" src="assets/img/baloon.png" alt="" />
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-md-12 col-sm-12 col-xs-12">
				<h3>POLITICAL <span class="green">CANDIDATES</span></h3>
			</div>
		</div>
		<div class="row r-top-m">
			<div class="col-lg-4 text-center col-sm-4 col-4">
				<img src="assets/img/star-1.png" alt="" />
			</div>
			<div class="col-lg-4 middle text-center col-sm-4 col-4">
				<img src="assets/img/city.png" alt="" />
			</div>
			<div class="col-lg-4 text-center col-sm-4 col-4">
				<img src="assets/img/star-2.png" alt="" />
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 position col-sm-12 col-md-12 col-xs-12">
				<img class="align" src="assets/img/cap-left.png" alt="" />
				<img class="align right" src="assets/img/cap-right.png" alt="" />
				<div class="col-lg-12 bg-border col-sm-12 col-md-12 col-xs-12">
					<div class="col-lg-12 bg-white col-sm-12 col-md-12 col-xs-12">
						<div class="row">
							<div class="col-lg-8 col-sm-8 col-xs-12 position-normal">
								<div class="row">
									<div class="col-lg-1 img-star text-right small-text-center col-sm-2 col-xs-12">
										<img src="assets/img/star-red.png" alt="" />
									</div>
									<div class="col-lg-11 flush col-sm-10 col-xs-12">
										<p><b>Candidates: Election Day is not far off….</b></p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-1 img-star text-right small-text-center col-sm-2 col-xs-12">
										<img src="assets/img/star-blue.png" alt="" />
									</div>
									<div class="col-lg-11 flush col-sm-10 col-xs-12">
										<p><b>You need votes.</b><br/>Voters need to hear your name, yours ideas and your goals.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-1 img-star text-right small-text-center col-sm-2 col-xs-12">
										<img src="assets/img/star-red.png" alt="" />
									</div>
									<div class="col-lg-11 flush col-sm-10 col-xs-12">
										<p><b>We can help.</b><br/>F&R Telecommunications can contact your potential voters by phone and give them the details you want them to hear. We can help encourage them to cast their vote for you.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-1 img-star text-right small-text-center col-sm-2 col-xs-12">
										<img src="assets/img/star-blue.png" alt="" />
									</div>
									<div class="col-lg-11 flush col-sm-10 col-xs-12">
										<p><b>Let us help your constituents hear your message.</b><br/>Candidates will only become elected officials if the voting public is in their corner. For that to happen, a candidate’s specific message needs to be heard by the public.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-1 img-star text-right small-text-center col-sm-2 col-xs-12">
										<img src="assets/img/star-red.png" alt="" />
									</div>
									<div class="col-lg-11 flush col-sm-10 col-xs-12">
										<p><b>What’s your goal?</b><br/>Whether you are running for a county, state or national position, a school board member, a city council position, park board, trustee, county board member, president or dog catcher, your goals need to be heard. While some candidates may choose email contact with potential voters, which can have an impact, we have learned that many persons’ inboxes these days are getting overloaded with unwanted messages. Those can be deleted with a push of a button as soon as they arrive –and often are. Or worse, some people have even stopped accessing their emails altogether because of email overload. So, those messages go unseen. We are sure you don’t want that to happen to your message.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-1 img-star text-right small-text-center col-sm-2 col-xs-12">
										<img src="assets/img/star-blue.png" alt="" />
									</div>
									<div class="col-lg-11 flush col-sm-10 col-xs-12">
										<p><b>We make each call live. </b><br/>We aim to make our phone calls real and relevant to those who hear your message, so that they can make wise choices in the voting booth. And, while robocalls can have an impact, we believe that there is nothing better than a personal call to get your message directly to the voting public. </p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-1 img-star text-right small-text-center col-sm-2 col-xs-12">
										<img src="assets/img/star-red.png" alt="" />
									</div>
									<div class="col-lg-11 flush col-sm-10 col-xs-12">
										<p><b>Second Counts.</b><br/>Let F&R Telecommunications get your message out in a timely manner that the voters can hear and understand. We know that the very first few seconds of a phone message can be critical and make or break a message. This is where we excel. <br/><br />The points that people will ponder before they vote will have an impact on their final decision…but, that will only happen if they have a chance to hear those messages. <br/><br/>We can help accomplish this critical aspect of the election process <br/><br/><strong>Contact us today for more information!</strong></p>
									</div>
								</div>
							</div>
							<div class="col-lg-4 small-text-center text-right col-sm-4 col-xs-12">
								<img src="assets/img/img-people.png" alt="" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 none-small col-sm-12 col-md-12 col-xs-12">
					<h5 class="bg-none"><i><span>E</span>very <span>V</span>ote <span>C</span>ounts</i></h5>
				</div>
			</div>
		</div>
	</div>
	<img class="align-right" src="assets/img/hands.png" alt="" />
</section>
<!---- P-candidates End ---->
<!---- Generate Start ---->
<section id="generate" class="p-election">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-sm-12 col-xs-12">
				<h6>YOU NEED VOTES</h6>
				<h3>CALL US FOR MORE <span class="green">INFORMATION</span></h3>
				<p><b>We can work with most donation budgets, large or small, and will never use predictive dialers or call the same contact multiple times in one day.</b><br/> Don’t take a risk by cutting corners and using unskilled callers overseas who may fog the message you are trying to convey. <br/><br/> <strong>Call on us to call for you today!</strong></p>
				<div class="call"><span>CALL US</span><a href="tel:6305712720">630-571-2720</a></div>
			</div>
		</div>	
	</div>       
</section>
<!---- Generate End ---->