<!---- Welcome-text Start ---->
<section class="p-election background-img pt-5 pb-5">
	<div class="container">
		<img class="heading-image" src="../../assets/img/about-heading.png">
		<div class="row">
			<div class="col-lg-12 col-xs-12 col-sm-12">
				<h6>About Us</h6>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<p class="col-md-10">
					F&R Telecommunications is a powerhouse for business-to-business communications that support operations of
					companies or all shapes and sizes. We are located in the hi-tech research corridor of Oak Brook IL, just outside
					Chicago, <strong>F&R is a leader in B2B telemarketing services for many industries.</strong>
				</p>
			</div>
			<div class="row">
				<p class="col-md-9">F&R Telecommunications, founded more than two decade ago, is a growing company with a
					reputation for fast and
					reliable telemarketing and related services. Our company specializes in inbound and outbound calling. Since its
					genesis, the company has been a strategic business partner for many fields always trying to enhancing companies
					ROI on there investments.</p>
			</div>
			<div class="row">
				<p class="col-md-7"><strong>We have an elite group of dedicated, professional employees,</strong> who have chalked
					up several
					decades of combined experience in the field. F&R staff will work with you on preparing your script, will help to
					keep your telemarketing budget "inside the lines," and we are ready to advise you on other issues that are
					essential to the success of your marketing projects.</p>
			</div>
			<div class="row">
				<p class="col-md-6"><strong>Most importantly, F&R is available to you throughtout your campaign,</strong> and will
					give regular
					updates on the progress of the project. We can also assist in the acquisition of accurate and timely contact
					lists, and, we are not an offshore company. There's no offshore handling of your vital projects-we are dedicated
					to keeping the United States strong by keeping jobs in the homeland.</p>
			</div>
			<div class="row">
				<p class="col-md-5"><strong> We don't outsource our workload</strong> to nebulous foreign firms that may stumble
					through the
					required script, or leave you wondering with whom your confidential subscriber list information has been shared.
					Using foreign companies of uncertain origins and with problematic language issues can result in a negative affect
					on your telemarketing projects, and perhaps on your entire company. Of course, if your calling needs to expand
					into other countries, such as Canada and Mexico, we are prepared. Our staff members are fluent in English and
					other languages. When you require an accurate and efficient campaing project- look to us first. We are here when
					you need us. </p>
			</div>
		</div>
	</div>
</section>