<!---- Banner Start ---->
<section>
	<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">

		<!-- Indicators -->
		<ul class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ul>

		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="assets/img/slide.png" alt="">
				<div class="slide1">
					<h2><span>WE ARE ONE OF THE BEST COMPANY IN</span><br /><span class="blue">call center & </span> Teleservices</h2>
					<p>We are in the call center/teleservices business. We do calling for many different companies and services.
					</p>
					<a class="btn" href="#">LEARN MORE</a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="assets/img/darkboard.jpg" alt="">
				<div class="slide2">
					<h2><span>WE ARE ONE OF THE BEST COMPANY IN</span><br /><span class="blue">call center & </span> Teleservices</h2>
					<p>We are in the call center/teleservices business. We do calling for many different companies and services.
					</p>
					<a class="btn" href="#">LEARN MORE</a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="assets/img/sales.jpg" alt="">
				<div class="slide3">
					<h2><span>We can help develope Sales strategies</span><br /><span class="bl">call center & </span> Teleservices</h2>
					<p>We are in the call center/teleservices business. We do calling for many different companies and services.
					</p>
					<a class="btn" href="#">LEARN MORE</a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="assets/img/group.jpg" alt="">
				<div class="slide4">
					<h2><span id="whitep">Maximize your growth potential with leads</span><br /><span class="blue">call center &
						</span> Teleservices</h2>
					<a class="btn" href="#">LEARN MORE</a>
				</div>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
			<div class="carousel-control-span-border">
				<span class="carousel-control-prev-icon"></span>
			</div>
		</a>
		<a class="carousel-control-next" href="#myCarousel" data-slide="next">
			<div class="carousel-control-span-border">
				<span class="carousel-control-next-icon"></span>
			</div>
		</a>
	</div>
</section>
<!---- Banner End ---->
<!---- Title Start ---->
<section id="title-black">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<img src="assets/img/text.png" alt="" />
			</div>
		</div>
	</div>
</section>
<!---- Title End ---->
<!---- Welcome-text Start ---->
<section id="welcome-text" class="home">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<h6><img src="assets/img/line-left.png" alt="" />WELCOME TO<img src="assets/img/line-right.png" alt="" /></h6>
				<h1><span>FAST & </span> <span class="blue">RELIABLE</span> TELECOMMUNICATIONS INC</h1>
				<h3>ABOUT OUR COMPANY</h3>
			</div>
			<div class="col-lg-8 offset-lg-2 text-center col-xs-12 col-sm-12">
				<h6 class="sm"><img src="assets/img/line-left.png" alt="" />A little brief about us<img src="assets/img/line-right.png"
					 alt="" /></h6>
				<p>F&R Telecommunications is a powerhouse for business-to-business communications that support operations of
					companies or
					all shapes and sizes. We are located in the hi-tech research corridor of Oak Brook IL, just outside Chicago, F&R
					is a
					leader in B2B telemarketing services for many industries. Read More!!!</p>
				<a class="btn" href="about.html">LEARN MORE</a>
			</div>
		</div>
	</div>
</section>
<!---- Welcome-text End ---->
<!---- Services Start ---->
<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 title text-center col-xs-12 col-sm-12">
				<h3 class="white-c">WE PROVIDE SERVICES IN DIFFERENT AREAS</h3>
				<h6 class="sm"><img src="assets/img/line-left.png" alt="" />CHECK OUT OUR SERVICES VARIOUS AREAS<img src="assets/img/line-right.png"
					 alt="" /></h6>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 flush col-sm-6 col-xs-12">
						<img class="fullwidth fullheight" src="assets/img/pic-1.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4>Magazines</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>We understand that in today's digital society, connecting with and fully understanding your customer base is
								the key to success in the all industries. We will personally work with you to achieve your goals, no matter how
								small (or big!) the budget, providing you with the necessary tools to give your business publication the boost
								it needs.</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn mb-3" routerLink="services/magazines">READ MORE</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 visible-xs flush col-sm-6 col-xs-12">
						<img class="fullwidth fullheight" src="assets/img/pic-2.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue right col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4> Trade Shows/Trade fair</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>Want to see a change in your trade show experience? Try us out. Human conversation is what makes sales. We
								promise to put a personal touch on each connection we make, and will always keep your lists private as to
								respect your clients. Our warm and knowledgeable staff are experts in customer service and are ready to fill
								your event with the right people for the right places at the right times. Don't waste your time with contacting
								your audience, call on us to call for you!</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn mb-3" routerLink="services/trade_show">READ MORE</a>
						</div>
					</div>
					<div class="col-lg-7 hidden-xs flush col-sm-6 col-xs-12">
						<img class="fullwidth" src="assets/img/pic-2.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 flush col-sm-6 col-xs-12">
						<img class="fullwidth fullheight" src="assets/img/pic-3.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4>Sales/Marketing</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum is dummy text of the printing industry. Lorem
								Ipsum has been a main industry's standard dummy text ever since the 1500s, it to make a type specimen book</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn mb-3" routerLink="services/sales_marketting">READ MORE</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 visible-xs flush col-sm-6 col-xs-12">
						<img class="fullwidth fullheight" src="assets/img/pic-4.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue right col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4>Polling/Surveys</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>How can you get a better grasp on the motives behind your audience actions? The best way is to incorporate
								surveys or polls into your marketing strategy, which can tap into the minds of your current or prospective
								clients and steer you in the right direction of where you want to be.</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn mb-3" routerLink="services/polling_surveys">READ MORE</a>
						</div>
					</div>
					<div class="col-lg-7 hidden-xs flush col-sm-6 col-xs-12">
						<img class="fullwidth" src="assets/img/pic-4.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 flush col-sm-6 col-xs-12">
						<img class="fullwidth fullheight" src="assets/img/pic-5.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4>Lead Generation</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<strong id="mainwhite">"Lead Generation or List Broker Services</strong>
							<p>Not satisfied with your company's reach? Are your sales & promotional campaigns reaching the right people?
								Don't waste your marketing and advertising dollars reaching the wrong people. Call on a telemarketing company
								that you can trust will provide you with accurate leads to focus on.</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn mb-3" routerLink="services/lead_generation">READ MORE</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 visible-xs flush col-sm-6 col-xs-12">
						<img class="fullwidth fullheight" src="assets/img/pic-6.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue right col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4>CHARITIES/CHURCHES/FUNDRAISING</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>Telemarketing is especially helpful in the nonprofit niche because it allows for a live discussion regarding
								who you
								are and what goods you do, which actually increase the donor's likelihood to give a gift by 20 percent ver the
								next 30
								days. </p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn mb-3" routerLink="services/charities">READ MORE</a>
						</div>
					</div>
					<div class="col-lg-7 hidden-xs flush col-sm-6 col-xs-12">
						<img class="fullwidth" src="assets/img/pic-6.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 flush col-sm-6 col-xs-12">
						<img class="fullwidth fullheight" src="assets/img/pic-7.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4>Political Election</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>Whether you are running for a county, state or national position, or more of a local position like a city
								council position,a school board member, park
								board, trustee, county board member, your goals need to be heard. Let a experienced telermarketing company lead
								the way on your campaign and get you elected! Let us help.</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn mb-3" routerLink="services/political_election">READ MORE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- Services End ---->
<!---- Contact Start ---->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-5 col-xs-12">
			</div>
			<div class="col-lg-6 align-self-end shadow flush end float-right col-sm-7 col-xs-12">
				<div class="col-lg-12 bg-blue text-center col-sm-12 col-xs-12">
					<h4>FILL UP THE FORM & we will get back to you</h4>
				</div>
				<div class="col-lg-12 bg-white col-sm-12 col-xs-12">
					<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
						<input class="user" type="text" formControlName="fullName" placeholder="Name*">
						<input class="email" type="text" formControlName="email" placeholder="Email*">
						<input class="phone" type="text" formControlName="cellPhone" placeholder="Phone*">
						<textarea placeholder="Message*" formControlName="message"></textarea>

						<button type="submit" class="btn btn-primary btn-block">
							<span *ngIf="!loading">SUBMIT</span>
							<span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
							<span *ngIf="loading" class="sr-only">Loading...</span>
						</button>
					</form>

					<!-- Success message -->
					<div class="mt-3 alert alert-success success" *ngIf="showSucessMessage">
						Your form submitted successfully, we will get in touch soon.
					</div>


					<!-- Error message -->
					<div class="mt-3 alert alert-danger" *ngIf="serverErrorMessages">
						<div *ngFor="let error of serverErrorMessages">
							{{error}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- Contact End ---->
<!---- Why Choose Start ---->
<section id="why-choose">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 flush space-small col-sm-8 col-md-7-choose col-xs-12">
				<div class="col-lg-12 small-text-center col-sm-12 col-xs-12">
					<h3>WHY CHOOSE US ?</h3>
				</div>
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-3 text-center col-sm-3 col-xs-12">
							<img src="assets/img/box-1.png" alt="" />
						</div>
						<div class="col-lg-9 small-text-center flush col-sm-9 col-xs-12">
							<h6><b>FAST SERVICES WITH 24/7 SUPPORT</b><br />Lorem Ipsum has a standard text make specimen book</h6>
						</div>
						<div class="col-lg-12 hidden-xs flush col-sm-12 col-xs-12">
							<div class="col-lg-3 text-center col-sm-3 col-xs-12">
								<img src="assets/img/line-blue.png" alt="" />
							</div>
						</div>
						<div class="col-lg-3 small-text-center col-sm-3 col-xs-12">
							<img src="assets/img/box-2.png" alt="" />
						</div>
						<div class="col-lg-9 small-text-center flush col-sm-9 col-xs-12">
							<h6><b>RELIABLE AFFORDABLE PRICES</b><br />Lorem Ipsum has a standard text make specimen book</h6>
						</div>
						<div class="col-lg-12 hidden-xs flush col-sm-12 col-xs-12">
							<div class="col-lg-3 text-center col-sm-3 col-xs-12">
								<img src="assets/img/line-blue.png" alt="" />
							</div>
						</div>
						<div class="col-lg-3 small-text-center col-sm-3 col-xs-12">
							<img src="assets/img/box-3.png" alt="" />
						</div>
						<div class="col-lg-9 small-text-center flush col-sm-9 col-xs-12">
							<h6><b>HIGHLY EXPERIENCED TEAM</b><br />Lorem Ipsum has a standard text make specimen book</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- Contact End ---->