<!---- Banner Start ---->
<section id="banner" class="services s-marketting">
	<div class="col-lg-12 bg text-right small-text-center col-xs-12 col-sm-12">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 flush col-xs-12 col-sm-12">
					<h6>CALLING FOR</h6>
					<h1>SALES & <br/>MARKETING</h1>
					<a class="get leads" href="#">GET MORE LEADS</a>
				</div>	
			</div>	
		</div>	
	</div>       
</section>
<!---- Banner End ---->
<!---- Service-team Start ---->
<section id="service-team">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 left small-text-center col-xs-12 col-sm-12 col-md-4">
				<h6>Services we do to help</h6>
				<h3><b>promote</b> other Companies or<br/><span><b>Client</b> Companies</span></h3>
				<hr/>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
				<a class="get" href="#">CONTACT US</a>
			</div>
			<div class="col-lg-8 bg-white col-xs-12 col-sm-12 col-md-8">
				<div class="row">
					<div class="col-lg-6 ft small-text-center right-s b-right col-xs-12 col-sm-6">
						<div class="row">
							<div class="col-lg-2 small-text-center flush col-xs-12 col-sm-3">
								<img src="assets/img/icon-sm-1.png" alt="" />
							</div>
							<div class="col-lg-10 col-xs-12 col-sm-9">
								<h4>Appointment<br/>Setting </h4>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 flush small-text-center col-xs-12 col-sm-12">
								<p>Lorem Ipsum is a simply dummy text of the printing of the industry market</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 ft small-text-center text-right left-s b-left col-xs-12 col-sm-6">
						<div class="row">
							<div class="col-lg-2 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
								<img src="assets/img/icon-sm-2.png" alt="" />
							</div>
							<div class="col-lg-10 col-xs-12 col-sm-9">
								<h4>Phone Sales / Cold <br/>Calling / Warm Calling  </h4>
							</div>
							<div class="col-lg-2 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
								<img src="assets/img/icon-sm-2.png" alt="" />
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 flush small-text-center col-xs-12 col-sm-12">
								<p>Lorem Ipsum is a simply dummy text of the printing of the industry market</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 small-text-center right-s b-right col-xs-12 col-sm-6">
						<div class="row">
							<div class="col-lg-2 flush col-xs-12 col-sm-3">
								<img src="assets/img/icon-sm-3.png" alt="" />
							</div>
							<div class="col-lg-10 col-xs-12 col-sm-9">
								<h4>Announce a sale,<br/> Grand Opening,<br/> Or Special Event</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 flush small-text-center col-xs-12 col-sm-12">
								<p>Lorem Ipsum is a simply dummy text of the printing of the industry market</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 small-text-center text-right left-s b-left col-xs-12 col-sm-6">
						<div class="row">
							<div class="col-lg-2 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
								<img src="assets/img/icon-sm-4.png" alt="" />
							</div>
							<div class="col-lg-10 col-xs-12 col-sm-9">
								<h4>Up-selling /<br/>Cross-selling</h4>
							</div>
							<div class="col-lg-2 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
								<img src="assets/img/icon-sm-4.png" alt="" />
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 flush small-text-center col-xs-12 col-sm-12">
								<p>Lorem Ipsum is a simply dummy text of the printing of the industry market</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 small-text-center last right-s b-right col-xs-12 col-sm-6">
						<div class="row">
							<div class="col-lg-2 flush col-xs-12 col-sm-3">
								<img src="assets/img/icon-sm-5.png" alt="" />
							</div>
							<div class="col-lg-10 col-xs-12 col-sm-9">
								<h4>Answering<br/>Service </h4>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 flush small-text-center col-xs-12 col-sm-12">
								<p>Lorem Ipsum is a simply dummy text of the printing of the industry market</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 small-text-center last text-right left-s b-left col-xs-12 col-sm-6">
						<div class="row">
							<div class="col-lg-2 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
								<img src="assets/img/icon-sm-6.png" alt="" />
							</div>
							<div class="col-lg-10 col-xs-12 col-sm-9">
								<h4>Product<br/>Promotion</h4>
							</div>
							<div class="col-lg-2 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
								<img src="assets/img/icon-sm-6.png" alt="" />
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 flush small-text-center col-xs-12 col-sm-12">
								<p>Lorem Ipsum is a simply dummy text of the printing of the industry market</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- Service-team End ---->
<!---- Welcome-text Start ---->
<section id="welcome-text" class="s-polling s-marketting">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<h3>we are here <span class="green">to help you</span></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 text-center col-sm-12 col-md-6 col-xs-12">
				<div class="col-lg-12 bg-blue col-sm-12 col-md-12 col-xs-12">
					<h4>Blog Updates</h4>
					<p>Read our blog for tips and advice on <br/>promote your business</p>
					<a class="read" href="#">READ ALL UPDATES</a>
				</div>
			</div>
			<div class="col-lg-6 text-center col-sm-12 col-md-6 col-xs-12">
				<div class="col-lg-12 bg-green col-sm-12 col-md-12 col-xs-12">
					<h4>HAVE QUESTIONS?</h4>
					<p>Email us anytime for fast and<br/>friendly support</p>
					<a class="read" href="#">CONTACT US</a>
				</div>
			</div>
		</div>
	</div>       
</section>
<!---- Welcome-text End ---->
<!---- generate Start ---->
<section id="generate" class="s-marketting">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-sm-12 col-xs-12">
				<h6>WE WILL HELP YOU TO</h6>
				<h3>PROMOTE YOUR <span class="green">BUSINESS</span></h3>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown<br/> printer took a galley of type and scrambled it to make a type specimen book.</p>
				<div class="call"><span>CALL US</span><a href="tel:6305712720">630-571-2720</a></div>
			</div>
		</div>	
	</div>       
</section>
<!---- generate End ---->