<!---- Banner Start ---->
<section id="banner" class="services">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 bg flush text-center col-xs-12 col-sm-12">
				<h1>List Broker Services <a class="get" href="#">GET STARTED</a></h1>
			</div>	
		</div>	
	</div>       
</section>
<!---- Banner End ---->
<!---- Welcome-text Start ---->
<section id="welcome-text" class="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<h6>LIST BROKER SERVICES</h6>
				<h1><span class="blue">What exactly is a </span> <span>List Broker?</span></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 small-text-center col-xs-12 col-sm-12">
				<p>List brokers are individuals who can purchase lists containing prospective client information to use for direct marketing campaigns (mail, email or telemarketing usually) based on specified demographic guidelines. Lists purchased by list brokers can be as simple as name & address, or as detailed as name, address, job title, income, gender, and more. An experienced, professional broker will work with you no matter what the budget size, and should provide recommendations based on their knowledge of direct marketing. Be cautious of brokers who may try to sell you inaccurate and flawed data. If you are uncertain of the credibility of the list, just ask! </p>
			</div>
		</div>	
	</div>       
</section>
<!---- Welcome-text End ---->
<!---- Services Start ---->
<section id="services" class="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 title text-center col-xs-12 col-sm-12">
				<h3>Who can <span>benefit</span> from working<br/>with a <span class="green">List Broker?</span></h3>
			</div>
		</div>
	</div>
	<div class="bg-1">	
		<div class="container">	
			<div class="row">
				<div class="col-lg-6 flush text-left col-sm-12 col-md-6 col-xs-12">
					<img src="assets/img/service-pic-1.png" class="visible-xs visible-sm" />
				</div>
				<div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
					<h4>New Businesses</h4>
					<p>Betty the neighborhood babysitter has decided to finally pursue her lifelong goal of starting up her own daycare business. Although Betty has a handful of regulars, she’s aiming to at least triple her current client base. She knows that while word of mouth is extremely powerful, that it also might not spread outside the network of her existing clients as quickly or as consistently as she’d like. Who can Betty turn to? How might she be able to directly reach families with children under 3 years old, living within 5 miles of her storefront?</p>
					<p>Not all telemarketing companies offer services that assist in generating leads, but at F&R Telecommunications, we’ve been helping entrepreneurs like Betty for years.</p>
					<p>Working with a trusted list broker like F&R will build hot leads for your business by acquiring lists of potential clients for you, specific to your exact requests. From there, some prefer to send their message out to the list via direct mail or calling, while others may prefer email marketing campaigns. Whichever route you choose, we can help!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-2 row-top">	
		<div class="container">	
			<div class="row">
				<div class="col-lg-6 visible-xs visible-sm text-right flush col-sm-12 col-md-6 col-xs-12">
					<img src="assets/img/service-pic-2.png" class="visible-xs visible-sm" />
				</div>
				<div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
					<h4>Established Businesses</h4>
					<p>Jim the business owner has been running his own IT company for two decades, however, business has been shrinking over the past few years. Jim worries that the classic method of placing an ad in the local paper is no longer striking the interest of small business owners in need of IT help. He also admits to not being the most diligent when it comes to grooming his client database and maintaining communication with past clients. How can F&R Telecommunications help?</p>
					<p>Forget the old school advertising, Jim! Today’s technology allows for us to directly pull the names and contact info of the people you’ve been trying to reach, so that you can focus your marketing and advertising dollars solely on the individuals who fall within your target audience - saving you time and frustration. Oh, and about that messy client list...</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- Services End ---->
<!---- Services-database Start ---->
<section id="services-database" class="bg-1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 title text-center col-xs-12 col-sm-12">
				<h3><span>Database Cleanup </span> <span class="green">Services</span></h3>
			</div>
		</div>
	</div>
	<div class="bg">	
		<div class="container">	
			<div class="row">
				<div class="col-lg-6 flush text-left col-sm-12 col-md-6 col-xs-12">
					<img src="assets/img/service-pic-3.png" class="visible-xs visible-sm" />
				</div>
				<div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
					<p>At F&R, we realize the importance of keeping a clean, updated contact database - and the negative effects that outdated information can have on a business. The more accurate your database is, the greater chance you have of establishing or nurturing profitable relationships. </p>
					<p>Employee turnover rates can also prove to be devastating to client relationships. You’d hate to waste your time on a lead, just to find out after several attempts that they left the company years ago, or have no buying power.</p>
					<p>This is where our database cleanup services can really benefit a business. Let us do the busywork of updating your client list with the right information. You can rest assured that your own personal list will always be held confidential with us, and we can promise that it will never be sold or used for any other purpose. </p>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-2 row-top">	
		<div class="container">	
			<div class="row">
				<div class="col-lg-9 left-1440 col-sm-9 col-xs-12">
					<p>Telemarketing companies can help your business by proactively filtering through a sea of likely/unlikely clients, providing you with authentic leads to focus your advertising & marketing efforts on. Our lead generation strategies will help you to maximize ROI by giving you the direction and tools that you need to communicate your message.</p>
					<p>Don’t blow your budget reaching the wrong people. Call on a telemarketing company that you can trust to put you directly in front of the people you want to reach, and whose accuracy rates are higher than average. <b>Call on F&R Telecommunications!</b></p>
				</div>
				<div class="col-lg-3 top-minus small-text-center flush s-small text-right col-sm-3 col-xs-12">
					<img src="assets/img/user-two.png" />
				</div>
			</div>
		</div>
	</div>
</section>
<!---- Services-database End ---->
<!---- generate Start ---->
<section id="generate">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-sm-12 col-xs-12">
				<h6>WE WILL HELP YOU TO</h6>
				<h3>GENERATE YOUR <span class="green">LEADS</span></h3>
				<p>Call on a telemarketing company that you can trust to put you directly in front of the people you want to<br/> reach, and whose accuracy rates are higher than average. <b>Call on F&R Telecommunications!</b></p>
				<div class="call"><span>CALL US</span><a href="tel:6305712720">630-571-2720</a></div>
			</div>
		</div>	
	</div>       
</section>
<!---- generate End ---->