<!---- Banner Start ---->
<section id="banner" class="services charity">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 bg text-center col-xs-12 col-sm-12">
				<h6>Telemarketing for </h6>
				<h1>Nonprofits/Charities/Churches</h1>
				<a class="get" href="#">RAISE FUNDS</a>
			</div>	
		</div>	
	</div>       
</section>
<!---- Banner End ---->
<!---- Charity-profit Start ---->
<section id="charity-profit">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 small-text-center text-right col-xs-12 col-sm-4">
				<img src="assets/img/bottle.png" alt="" />
			</div>
			<div class="col-lg-8 flush small-text-center col-xs-12 col-sm-8">
				<div class="col-lg-12 text-center col-xs-12 col-sm-12">
					<h6 class="bd">WE DO TELEMARKETING FOR</h6>
				</div>
				<div class="col-lg-12 small-text-center col-xs-12 col-sm-12">
					<h3>Non-profits/<span>charities/chUrches</span></h3>
					<p>In the business world, you would never assume that customers will flood your doors just because your company has a great new product on your hands, right? Time and effort need to be spent getting the word out. The same goes for charities and nonprofits. People often assume that because nonprofits do good for the world, that word will just magically spread. </p>
					<p><b>While that would be great, unfortunately it’s not reality...</b></p>
					<p>There are many different avenues one can take when trying to raise money or spread the word for a nonprofit. Most utilize a mixture of techniques to reach existing or potential donors, such as using volunteers as well as enlisting in help of telemarketing company. </p>
					<p>Telemarketing has been around since the 19th century and is still proven to be an effective and convenient way to connect with people, whether you’re trying to grow your client base or simply reconnect. Telemarketing is especially helpful in the nonprofit niche because it allows for a live discussion regarding who you are & what good you do, which increases the donor’s likelihood to give a gift by 20 percent over the next 30 days. The lists constructed or purchased by telemarketing companies allow for a more magnified audience with greater potential return on investment, rather than just basic phonebook calling.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- Charity-profit End ---->
<!---- Welcome-text Start ---->
<section id="welcome-text" class="s-polling charity">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<h6 class="bd">TELEMARKETING can help</h6>
				<h3>Nonprofits <span class="green">of Any Size</span></h3>
			</div>
		</div>
	</div>
	<div class="bg">	
		<div class="container">	
			<div class="row">
				<div class="col-lg-6 flush text-left col-sm-12 col-md-6 col-xs-12">
					<img src="assets/img/charity-team.png" class="visible-xs visible-sm" />
				</div>
				<div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
					<h6 id="white">We Can Help Nonprofits of any Size</h6>
					<p>Smaller organizations tend to be limited in their reach, whereas larger groups may be overwhelmed by the sheer volume of contacts they already have. Telemarketing companies can provide the tools, time and experience that most nonprofits lack in order to fundraise. The price of equipment alone that is needed to make telemarketing calls often plays a huge factor in whether companies can tackle the calling on their own. In fact, combining calling with direct mail (which can also be expensive to do in-house) has proven to be the best combination for marketing success.</p>
					<p>Leave the communication to us, we can be the missing piece that your overall marketing strategy is lacking. <b id="white">Call us now to chat about how F&R Telecommunications can increase your outreach dramatically - and at a great price!</b> We are an experienced domestic call center that has been assisting in growing businesses small and large for nearly twenty years. We are confident in our ability to meet your outreach goals, no matter how small or large the budget. Our sister company can even handle the direct mailing for you, just ask!</p>
				</div>
			</div>
		</div>
	</div>       
</section>
<!---- Welcome-text End ---->
<!---- Charity-info Start ---->
<section id="charity-info" class="s-polling charity">
	<div class="container">
		<img class="a-left" src="assets/img/angle-left.png" alt="" />
		<img class="a-right" src="assets/img/angle-right.png" alt="" />
		<div class="row">
			<div class="col-lg-12 title text-center col-xs-12 col-sm-12">
				<p><span>Call us now to chat</span> about how F&R Telecommunications can<br/>
				increase your outreach dramatically - <span class="green">and at a great price!</span></p>
				<a class="get shadow call" href="#">CALL: 630-571-2720</a>
			</div>
		</div>
	</div>
	<div class="container-fluid tp-img">
		<div class="row">
			<div class="col-lg-12 text-center flush" style="min-height:0px;">
				<img class="fullwidth" src="assets/img/bg-hands.png" />
			</div>
		</div>
	</div>
	<div class="footer-charity">
		<img class="fullwidth" src="assets/img/footer-curve3.png" />
	</div>
</section>
<!---- Charity-info End ---->