<!---- Banner Start ---->
<section id="banner" class="s-polling magazines">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 small-text-center col-xs-12 col-sm-12">
				<div class="col-lg-12 text-right small-text-center col-xs-12 col-sm-12">
					<h6>The Best way for Publishers<br/>to get more Advertisers</h6>
					<h1>Magazines</h1>
				</div>
				<div class="col-lg-12 col-xs-12 col-sm-12">
					<a class="get" href="#">Call us Today!</a>  <!-- get started -->  
					</div>
			</div>
		</div>	
	</div>       
</section>
<!---- Banner End ---->
<!---- Magazines-work Start ---->
<section id="magazines-work">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12 col-md-12">
				<h3>lets see HOW our <span>work flows</span></h3>
			</div>
			<div>
				<p>Like most industries, the key to success in the publishing industry is to understand your target audience. If you fail to get to know your readers, you fail to connect, therefore causing subscriber rates to plummet. Let our experienced professionals handle your customer engagement needs so that you can focus on your company. </p>
				<br/>
				<p>At F&R, you'll never have to worry about losing subscribers due to frustrating, low-quality telemarketer calls. Our friendly, American-based staff are experts in customer service and in communicating clearly, ensuring that your subscribers are never bothered or annoyed. We'll also make sure to never call a lead multiple times in one day. We prefer to spread our attempts at reaching your potential clients out over times to which will increase conversion rates.</p>
			<br/>
			<p><strong>Managing Subscriptions with F&R Telecommunications:</strong></p>
			<p>Whether you're stating a new magazine, looking to expand your reach, or simply need to verify that your circulation list is accurate and up-to-date, we can help!</p><br/>
			<p><strong>Growing Subscribers:</strong> Together we will set golas and assess markets suitable for your publication. Having been in the circulation telemarketing services business for almost two decades, we have mastered the necessary steps for procuring the perfect client base. Our track record allows for us to draw on our years of experience to skillfully purchase lists or to tactfully build new ones- all in accordance with auditing bureau regulations. We can help you pass your audit with <strong>BPA(Business Publications Audit of Circulations), Verified(Verified Audit Circulation), or AMA(American Marketing Association)</strong></p>
			<br/>
			<p><strong>Re-qualifying Subscribers:</strong> Re-qualifying subscribers can be time-consuming and frustrating for any staff, regardless of experience level. If qualification forms contain any type of inaccurate data, the entire process is flawed. So, why waste your own staff's time on it? Lave it to the experts! <em>Call on us to call for you!</em></p>
			<p><strong>Don't Sweat the Details</strong></p>
			<br/>
			<p>Our Skilled team of personnel is trained to spot inaccuracies &inconsistencies, ensuring that all data in your circulation list is accurate and up-to-date. Plus, you never have to worry about any project falling below auditing bureau standards - our phone conversations are all recorded for verification purposes and quality control. Don't believe us? Just ask! All conversations are archived and readily accessible, in case of request by auditing bureaus. And, of course- we promise to keep all lists confidential so that your clients remain your clients, and are not sold to the competitors.</p>
			
			<br/>
			<p><strong>We Understand That Last Minute Projects Come Up</strong></p>
			<br/>
			<p>Most companies prefer to plan their telemarketing campaigns far in advance to avoid any unnecessary stress or hiccups, however, we understand that last minute projects come up. We're here when you need us, and are able to start up a high-quality telemarketing project on short notice(there's reason that "Fast" is in our company name!). We can quickly work with you to fix circulation shortfalls such as re-verification or new subcriber issues, without decepives fees or shocking price tags. </p>
			<br/>
			<p><strong>Bottom Line</strong></p>
			<br/>
			<p>We're here to help you keep your subscribers happy! Since our inception in 2001, our focus has always been on providing quality, homegrown telemarketing services at a fair and genuine price. Whatever the publication need is, we're on your side. We won't stop until your needs are met. Break through to your audience like never before by calling on F&R Telecommunications to handle your publishing industry needs. Watch as our services assist in building you a vibrant relationship with your clients.</p>
		<br/>
		<br/>
		</div>
					</div>
		<div class="row bg-1">
			<div class="col-lg-5 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-1.png" alt="" />
					</div>
					<div class="col-lg-8 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>CALL <span>SUBSCRIBERS</span></h4>
								<p>We call all your subscribers that are receiving the free magazines and update informations </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-left-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-left small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 01</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-2">
			<div class="col-lg-3 offset-lg-2 left text-right small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 02</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-right-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-2.png" alt="" />
					</div>
					<div class="col-lg-9 text-right col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>VERIFY  <span>INFORMATIONS</span></h4>
								<p>We call all your subscribers that are receiving the free magazines and update informations </p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-2.png" alt="" />
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-1 t-top">
			<div class="col-lg-5 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-3.png" alt="" />
					</div>
					<div class="col-lg-8 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>DATABASE </h4>
								<p>All calls are recorded & then data is checked again to make sure database are accurate</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-left-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-left small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 03</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-2">
			<div class="col-lg-3 offset-lg-2 left text-right small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 04</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-right-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-4.png" alt="" />
					</div>
					<div class="col-lg-9 text-right col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>LOREM   <span>IPSUM</span></h4>
								<p>Lorem Ipsum has been industry's standard text  make a type specimen book</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-4.png" alt="" />
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-1 t-top">
			<div class="col-lg-5 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-5.png" alt="" />
					</div>
					<div class="col-lg-8 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>LOREM <span>IPSUM</span></h4>
								<p>Lorem Ipsum has been industry's standard text  make a type specimen book</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-left-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-left small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 05</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-2">
			<div class="col-lg-3 offset-lg-2 left text-right small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 06</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-right-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-6.png" alt="" />
					</div>
					<div class="col-lg-9 text-right col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>LOREM   <span>IPSUM</span></h4>
								<p>Lorem Ipsum has been industry's standard text  make a type specimen book</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-6.png" alt="" />
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-1 t-top">
			<div class="col-lg-5 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-7.png" alt="" />
					</div>
					<div class="col-lg-8 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>LOREM <span>IPSUM</span></h4>
								<p>Lorem Ipsum has been industry's standard text  make a type specimen book</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-left-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-left small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 07</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-2">
			<div class="col-lg-3 offset-lg-2 left text-right small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 08</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-right-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-8.png" alt="" />
					</div>
					<div class="col-lg-9 text-right col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>LOREM   <span>IPSUM</span></h4>
								<p>Lorem Ipsum has been industry's standard text  make a type specimen book</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-8.png" alt="" />
					</div>
				</div>
			</div>
		</div>
		<div class="row t-top">
			<div class="col-lg-5 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-9.png" alt="" />
					</div>
					<div class="col-lg-8 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>LOREM <span>IPSUM</span></h4>
								<p>Lorem Ipsum has been industry's standard text  make a type specimen book</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-left-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-left small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 09</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- Magazines-work End ---->
<!---- Welcome-text Start ---->
<section id="welcome-text" class="s-polling magazines">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<h3>benefits & solutions <span class="green">for your magazines</span></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-7 small-text-center col-sm-12 col-md-6 col-xs-12">
				<div class="row">
					<div class="col-lg-1 col-sm-2 col-md-12 col-xs-12">
						<img src="assets/img/correct-green.png" alt="" />
					</div>
					<div class="col-lg-10 bg-blue col-sm-10 col-md-12 col-xs-12">
						<p>We call a wide variety of industries including metals, health, and wellness, food and beverage, legal, retail, automotive, technology, the animal kingdom, the hospitality industry and much more</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1 col-sm-2 col-md-12 col-xs-12">
						<img src="assets/img/correct-green.png" alt="" />
					</div>
					<div class="col-lg-10 bg-blue col-sm-10 col-md-12 col-xs-12">
						<p>Each auditing bureau has a rules that each call has to be done in a certain way according to the rules to certify if the call was done correctly or </p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1 col-sm-2 col-md-12 col-xs-12">
						<img src="assets/img/correct-green.png" alt="" />
					</div>
					<div class="col-lg-10 bg-blue col-sm-10 col-md-12 col-xs-12">
						<p>We are able to meet all auditing bureau requirement for each and every auditing firm</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1 col-sm-2 col-md-12 col-xs-12">
						<img src="assets/img/correct-green.png" alt="" />
					</div>
					<div class="col-lg-10 bg-blue col-sm-10 col-md-12 col-xs-12">
						<p>You will get the certification from bureau to be able to charge more money to advertisers for better data</p>
					</div>
				</div>
			</div>
			<div class="col-lg-5 text-center col-sm-12 col-md-6 col-xs-12">
				<img src="assets/img/girl-boy.png" alt="" />
			</div>
		</div>
	</div>       
</section>
<!---- Welcome-text End ---->
<!---- Generate Start ---->
<section id="generate" class="magazines">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-sm-12 col-xs-12">
				<h3>has your <b>publication</b> fallen out of favor<br/>
with your <span>readers?</span></h3>
				<a class="get" href="#">LET’S START</a>
			</div>
		</div>	
	</div>       
</section>
<!---- Generate End ---->