<!---- Banner Start ---->
<section id="banner" class="s-polling">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 small-text-center col-xs-12 col-sm-12">
				<h6>CALLING FOR your</h6>
				<h1>Polling or<br />surveys</h1>
				<a class="get" href="#">GET STARTED</a>
			</div>
		</div>
	</div>
</section>
<!---- Banner End ---->
<!---- Welcome-text Start ---->
<section id="welcome-text" class="s-polling">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<h6 class="bd">We do calling for</h6>
				<h3>Polling or Surveys <span class="green">Here is some of the Services</span></h3>
				<p id="whitepar">Not sure why your company or product has hit a plateau suddenly? Perhaps there is something that
					is causing your audience to become disengaged or uninterested, or maybe you recently made a slight change that has
					affected how people feel about your product.</p><br /><br />
				<p id="whitepar">How can you get a better grasp on the motives behind your audience's actions? The best way is to incorporte
					surveys or polls into your marketing strategy, which can tap into the minds of your current or prospective clients
					and steer you in the right direction towards where you want to be. </p><br />
				<p id="whitepar">Polling has been an efficient research tool used for public opinion insight since the 1800s.
					Unlike polling back then, we now have the technology to ensure that data collected is legitimate and significant.
					Working with F&R Telecommunications, you will always receive the highest caliber of telemarketing polling and
					surveying. We are a domestic call center with friendly, well-trained professionals and years of experience under
					our belt. Need help drafting up the question for your survey? We can help wth that, too!</p>
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-xs-12 col-sm-6">
				<div class="col-lg-12 flush col-xs-12 col-sm-12">
					<img class="fullwidth" src="assets/img/s-polling-box-1.png" alt="" />
					<div class="align">01</div>
				</div>
				<div class="col-lg-12 text-center bg-white col-xs-12 col-sm-12">
					<h4>Product & Market Research </h4>
					<p>Lorem Ipsum has been the standard text since<br /> 1500s, to make specimen book</p>
				</div>
			</div>
			<div class="col-lg-4 col-xs-12 col-sm-6">
				<div class="col-lg-12 flush col-xs-12 col-sm-12">
					<img class="fullwidth" src="assets/img/s-polling-box-2.png" alt="" />
					<div class="align green">02</div>
				</div>
				<div class="col-lg-12 text-center bg-white col-xs-12 col-sm-12">
					<h4 class="green">POLLING</h4>
					<p>Lorem Ipsum has been the standard text since<br /> 1500s, to make specimen book</p>
				</div>
			</div>
			<div class="col-lg-4 col-xs-12 col-sm-6">
				<div class="col-lg-12 flush col-xs-12 col-sm-12">
					<img class="fullwidth" src="assets/img/s-polling-box-3.png" alt="" />
					<div class="align">03</div>
				</div>
				<div class="col-lg-12 text-center bg-white col-xs-12 col-sm-12">
					<h4>SURVEYS</h4>
					<p>Lorem Ipsum has been the standard text since<br /> 1500s, to make specimen book</p>
				</div>
			</div>
			<div class="col-lg-4 row-top offset-lg-2 col-xs-12 col-sm-6">
				<div class="col-lg-12 flush col-xs-12 col-sm-12">
					<img class="fullwidth" src="assets/img/s-polling-box-4.png" alt="" />
					<div class="align green">04</div>
				</div>
				<div class="col-lg-12 text-center bg-white col-xs-12 col-sm-12">
					<h4 class="green">QUESTIONNAIRES</h4>
					<p>Lorem Ipsum has been the standard text since<br /> 1500s, to make specimen book</p>
				</div>
			</div>
			<div class="col-lg-4 row-top col-xs-12 col-sm-6">
				<div class="col-lg-12 flush col-xs-12 col-sm-12">
					<img class="fullwidth" src="assets/img/s-polling-box-5.png" alt="" />
					<div class="align">05</div>
				</div>
				<div class="col-lg-12 text-center bg-white col-xs-12 col-sm-12">
					<h4>TELEPHONE OR SURVEYS</h4>
					<p>Lorem Ipsum has been the standard text since<br /> 1500s, to make specimen book</p>
				</div>
			</div>
		</div>
	</div>
	<p id="bottomwhitepar">The opinion of your customers is not something to ignore. Understanding your target
		demographics is extremely important and should always be taken into consideration. Knowing their needs and wants can
		make or break your company, product or service. </p>
	<p id="bottomwhitepar"><strong>Call us today at (630) 571-2720 to chat about how polling and surveying with F&R
			Telecommunications can help grow your business!</strong></p>
</section>
<!---- Welcome-text End ---->
<!---- Services Start ---->
<section id="services" class="s-polling">
	<div class="col-lg-12 bg-two col-sm-12 col-xs-12">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 s-polling-position col-sm-9 col-md-7 col-xs-12">
					<div class="col-lg-12 flush bg-blue col-sm-12 col-xs-12">
						<div class="col-lg-12 bg-black text-center col-sm-12 col-xs-12">
							<h4>get the best <span>answers on surveys</span></h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<div class="col-lg-12 col-sm-12 col-xs-12">
								<div id="accordion">
									<div class="card">
										<div class="card-header">
											<a class="card-link" data-toggle="collapse" href="#collapseOne">
												Lorem Ipsum is simply dummy text of the printing ?
											</a>
										</div>
										<div id="collapseOne" class="collapse show" data-parent="#accordion">
											<div class="card-body">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
													industry's standard dummy text to make a type specimen book</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
												Lorem Ipsum is simply dummy text of the printing ?
											</a>
										</div>
										<div id="collapseTwo" class="collapse" data-parent="#accordion">
											<div class="card-body">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
													industry's standard dummy text to make a type specimen book</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
												Lorem Ipsum is simply dummy text of the printing ?
											</a>
										</div>
										<div id="collapseThree" class="collapse" data-parent="#accordion">
											<div class="card-body">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
													industry's standard dummy text to make a type specimen book</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
												Lorem Ipsum is simply dummy text of the printing ?
											</a>
										</div>
										<div id="collapseFour" class="collapse" data-parent="#accordion">
											<div class="card-body">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
													industry's standard dummy text to make a type specimen book</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
												Lorem Ipsum is simply dummy text of the printing ?
											</a>
										</div>
										<div id="collapseFive" class="collapse" data-parent="#accordion">
											<div class="card-body">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
													industry's standard dummy text to make a type specimen book</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 small-text-center col-sm-12 col-xs-12">
								<a class="get" href="#">CONTACT US</a>
							</div>
						</div>
					</div>
					<div class="left-arrow"><img src="assets/img/bg-survery-3.png" alt="" /></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- Services End ---->