<!---- Banner Start ---->
<section id="banner" class="s-polling t-show">
	<div class="container">
		<div class="bg">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<h6>CALLING FOR your</h6>
				<h1>TRADE SHOWS</h1>
				<a class="get" href="#">WORK WITH US </a>
			</div>
		</div>
	</div>
</section>
<!---- Banner End ---->
<!---- Solution-Service Start ---->
<section id="tradeshows">
	<div class="container">
		<h3>Trade Shows</h3>
		<p>Imagine spending hours preparing and practicing an advertising pitch for yacht sales to a group of people, only to
			find out afterwards that 80% of them are afraid of water. Sounds like a waste of time and money, right? #1-The same
			goes for attracting potential clients for trade shows. Or #2- Spending time and money on attracting the <em><strong>right
					audience</strong></em> is key for growth in any industry.</p>
		<br />
		<p>One important way to maximize your ROI for your next trade show is to ensure that you are only focusing on
			attracting qualified, relevant attendees. Blindly casting a wide net will only cause frustration for both the vendor
			and organizer.</p>
		<br />
		<h6><strong>Trade shows</strong></h6>
		<p>Trade show planning can be overwhelming. Who do you invite? How do you reach out? How often? How can you maximize
			ROI each year so that exhibitors and attendees are getting the most out of the event, without wearing out your own
			employees?</p>
		<br />
		<p>Experience trade show organizers will tell you that it is quite common to see telemarketing companies brought in
			to
			provide expert answers and services that solve these type of event industry issues, rather than having inside staff
			scramble to find a solution. Despite the trend to force digital engagement, outbound calling has been proven to be
			extremely successful in the world of sales and marketing - mainly because it's the most human connection you can
			make
			(aside from face-to-face interactions which can be costly and time consuming.)</p>
		<br />
		<br />
		<strong>Choosing the Right Telemarketing Company</strong>
		<br>
		<p>Our tried and true telemarketing strategies for trade shows will not only help you to efficiently meet your
			attendance goals, but also to keep your exhibitors, attendees and pocketbook smiling. We can promise fair and
			genuime
			pricing with no surprises, no matter what size the budget.</p>
		<p>At F&R Telecommunications, we understand how crucial a persistent promotional outreach strategy is to the success
			of your event. While other telemarketing companies may rush to call your leads multiple times in one day, F&R will
			spread these attempts out over time, avoiding frustration and allowing for the potential client to digest and
			revisit
			the idea later.</p>
		<br />
		<p>From start to finish, we've got your event-related communication under control. Keep your end of the show
			worry-free wile cover the busywork for you, including:</p>
		<br />
	</div>
</section>
<section id="solution-service">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12 col-md-12">
				<h6 class="bd">WE ARE EXPERTISE TO DELIVER</h6>
				<h3>solutions & services <span><b>for following areas</b></span></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 small-text-center text-right s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-2 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-1.png" alt="" />
					</div>
					<div class="col-lg-10 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>Trade Shows promoting</h4>
								<p>Call attendes to promote and see if they will be attending the trade show near them</p>
							</div>
						</div>
					</div>
					<div class="col-lg-2 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-1.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-left b-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-2 small-text-center flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-2.png" alt="" />
					</div>
					<div class="col-lg-10 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>Trade Show Registration</h4>
								<p>Register the person for the Trade Shows</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 small-text-center text-right s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-2 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-3.png" alt="" />
					</div>
					<div class="col-lg-10 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>Seminar Registration</h4>
								<p>Register the person for the Seminars</p>
							</div>
						</div>
					</div>
					<div class="col-lg-2 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-3.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-left b-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-2 small-text-center flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-4.png" alt="" />
					</div>
					<div class="col-lg-10 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>Notify Trade Show</h4>
								<p>Notify about upcoming Trade Show or Conventions</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 small-text-center text-right s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-2 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-5.png" alt="" />
					</div>
					<div class="col-lg-10 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>Trade Show Questionnaires</h4>
								<p>Do the Questions Answers Event for Trade Show</p>
							</div>
						</div>
					</div>
					<div class="col-lg-2 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-5.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-left b-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-2 small-text-center flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-6.png" alt="" />
					</div>
					<div class="col-lg-10 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>Trade Show space selling</h4>
								<p>Sell space to promote Trade Shows</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<br />
<br />


<!---- Solution-Service End ---->
<!---- News-Info Start ---->
<section id="news-info">
	<div class="container">
		<div class="row">
			<div class="col-lg-11 column-centered col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
						<div class="col-lg-12 bg-1 col-xs-12 col-sm-12">
							<div class="col-lg-12 bd col-xs-12 col-sm-12">
								<div class="row">
									<ul class="bxslider">
										<li>
											<div class="row">
												<div class="col-lg-8 col-xs-8 col-8 col-sm-9">
													<h4>News<br />Updates</h4>
												</div>
												<div class="col-lg-4 text-right col-xs-4 col-4 col-sm-3">
													<img src="assets/img/icon-1.png" alt="" />
												</div>
												<div class="col-lg-12 text-right col-xs-12 col-sm-12">
													<hr />
												</div>
												<div class="col-lg-12 col-xs-12 col-sm-12">
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this
														industry</p>
													<h6><i>18th May, 2017</i></h6>
												</div>
											</div>
										</li>
										<li>
											<div class="row">
												<div class="col-lg-8 col-xs-8 col-8 col-sm-9">
													<h4>News<br />Updates</h4>
												</div>
												<div class="col-lg-4 text-right col-xs-4 col-4 col-sm-3">
													<img src="assets/img/icon-1.png" alt="" />
												</div>
												<div class="col-lg-12 text-right col-xs-12 col-sm-12">
													<hr />
												</div>
												<div class="col-lg-12 col-xs-12 col-sm-12">
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this
														industry</p>
													<h6><i>18th May, 2017</i></h6>
												</div>
											</div>
										</li>
									</ul>
									<div class="outside col-lg-12 flush col-xs-12 col-sm-12 text-right">
										<p><span id="slider-prev"></span> <span id="slider-next"></span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
						<div class="col-lg-12 bg-2 col-xs-12 col-sm-12">
							<div class="col-lg-12 bd col-xs-12 col-sm-12">
								<div class="row">
									<div class="col-lg-8 flush col-xs-12 col-8 col-sm-9">
										<h4>Have<br />Query?</h4>
									</div>
									<div class="col-lg-4 flush text-right col-xs-12 col-4 col-sm-3">
										<img src="assets/img/icon-2.png" alt="" />
									</div>
									<div class="col-lg-12 flush text-right col-xs-12 col-sm-12">
										<hr />
									</div>
									<div class="col-lg-12 flush col-xs-12 col-sm-12">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this industry</p>
										<a class="read text-center green" href="#">ASK US</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
						<div class="col-lg-12 bg-3 col-xs-12 col-sm-12">
							<div class="col-lg-12 bd col-xs-12 col-sm-12">
								<div class="row">
									<div class="col-lg-8 flush col-xs-12 col-8 col-sm-9">
										<h4>Trade<br />promote</h4>
									</div>
									<div class="col-lg-4 flush text-right col-xs-12 col-4 col-sm-3">
										<img src="assets/img/icon-3.png" alt="" />
									</div>
									<div class="col-lg-12 flush text-right col-xs-12 col-sm-12">
										<hr />
									</div>
									<div class="col-lg-12 flush col-xs-12 col-sm-12">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this industry</p>
										<a class="read text-center" href="#">REGISTER</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-xs-12 col-sm-12 col-md-6">
						<div class="col-lg-12 bg-4 col-xs-12 col-sm-12">
							<div class="col-lg-12 bd col-xs-12 col-sm-12">
								<div class="row">
									<div class="col-lg-8 flush col-xs-12 col-8 col-sm-9">
										<h4>TRADE<br />SPACE SELLING</h4>
									</div>
									<div class="col-lg-4 flush text-right col-xs-12 col-4 col-sm-3">
										<img src="assets/img/icon-4.png" alt="" />
									</div>
									<div class="col-lg-12 flush text-right col-xs-12 col-sm-12">
										<hr />
									</div>
									<div class="col-lg-12 flush col-xs-12 col-sm-12">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this industry.
											Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this industry.
											Lorem Ipsum is simply dummy text of book</p>
										<a class="read text-center" href="#">SELL TRADE SPACE</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
						<div class="col-lg-12 bg-5 col-xs-12 col-sm-12">
							<div class="col-lg-12 bd col-xs-12 col-sm-12">
								<div class="row">
									<div class="col-lg-8 flush col-xs-12 col-8 col-sm-9">
										<h4>SEMINAR<br />REGISTER</h4>
									</div>
									<div class="col-lg-4 flush text-right col-xs-12 col-4 col-sm-3">
										<img src="assets/img/icon-5.png" alt="" />
									</div>
									<div class="col-lg-12 flush text-right col-xs-12 col-sm-12">
										<hr />
									</div>
									<div class="col-lg-12 flush col-xs-12 col-sm-12">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this industry</p>
										<a class="read text-center" href="#">REGISTER</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- News-Info End ---->
<!---- generate Start ---->
<section id="generate" class="t-show">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-sm-12 col-xs-12">
				<h6>WE WILL HELP YOU TO</h6>
				<h3>GROW YOUR <span class="green">ATTENDANCE</span></h3>
				<!-- <h5 id="whitetradeshows">at Trade Shows</h5> -->
				<!-- <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown<br/> printer took a galley of type and scrambled it to make a type specimen book.</p> -->
				<br />
				<div class="call"><span>CALL US</span><a href="tel:6305712720">630-571-2720</a></div>
			</div>
		</div>
	</div>
</section>
<!---- generate End ---->
<!---- take-business Start ---->
<section id="take-business">
	<div class="container">
		<div class="row t-b">
			<div class="col-lg-12 column-centered small-text-center col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-5 bg-take small-text-center col-sm-12 col-md-5 col-xs-12">
						<img class="align" src="assets/img/bg-t-business.png" alt="" />
						<h2>TAKE YOUR <br /><span class="blue">Trade Shows</span><br />TO THE <br /><span class="green">NEXT LEVEL</span>
							<img src="assets/img/paper-img.png" alt="" /></h2>
					</div>
					<div class="col-lg-7 normal-left-space small-text-center col-sm-12 col-md-7 col-xs-12">
						<h3>what are you <span class="green">waiting for?</span></h3>
						<p>Want to see a change in your trade show experience? Try us out. <br /> Human conversation is what makes sales.
							We
							promise to put a personal touch on each connection we make, and will always keep your lists pricate as to
							respect your
							clients. Our warm and knowledgeable staff are experts in customer service and are ready to fill your event with
							right
							people for the right places at the right times. Don't waste your time with contacting your audience, <strong>call
								on
								us to call for you!</strong></p>
						<a class="get" href="#">CONTACT US</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- take-business End ---->