<!---- Footer Start ---->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 small-text-center logo col-xs-12 col-sm-6 col-md-3">
        <a routerLink="/"><img src="assets/img/logo.png" alt=""/></a>
        <p>
          BE SOCIAL
          <a href="#"><img src="assets/img/icon-fb.png" alt=""/></a>
          <a href="#"><img src="assets/img/icon-tt.png" alt=""/></a>
          <a href="#"><img src="assets/img/icon-gp.png" alt=""/></a>
        </p>
      </div>
      <div class="col-lg-2 small-text-center col-xs-12 col-sm-6 col-md-2">
        <h3>Company</h3>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">about</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/blog">blog</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-3 small-text-center col-xs-12 col-sm-6 col-md-3">
        <h3>Reach us</h3>
        <p>
					<br />
          F&R Telecommunications inc<br />
          1000 Jorie Blvd<br />
          Suite 42 <br />
          Oak Brook IL, 60523<br />
         Email:<a href="mailto:info@website.com">info@frtelecommunications.com</a>
        </p>
      </div>
      <div class="col-lg-3 flush small-text-center col-xs-12 col-sm-6 col-md-4">
        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
          <h3>Month Specials / Signup</h3>
        </div>
        <form>
          <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
            <input type="text" placeholder="Your Email Address" />
          </div>
          <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
            <button class="submit" type="submit">
              SUBMIT <img src="assets/img/icon-plane.png" alt="" />
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!---- Footer End ---->
<!---- Copyright Start ---->
<section id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 small-text-center col-xs-12 col-sm-8">
        <p>© 2019 Fast & Reliable Telecommunications inc All Rights Reserved</p>
      </div>
      <div class="col-lg-6 text-right small-text-center col-xs-12 col-sm-4">
        <p>
          <a href="terms-of-use.html">Terms of Use</a> |
          <a href="disclaimer.html">Disclaimer</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!---- Copyright End ---->
